#button1 {
    background-color: #FF5733; 
    color: #FFFFFF; 
}

#button2 {
    background-color: #33FF57; 
    color: #000000; 
}

#button3 {
    background-color: #3357FF;
    color: #FFFFFF; 
}

#button4 {
    background-color: #FF33A1;
    color: #000000; 
}

#button5 {
    background-color: #FFD700;
    color: #000000
}
