#first-paragraph {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#second-paragraph {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

#third-paragraph {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}
